{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare (read-only)",
    "version": "1.0.0",
    "description": "A deliberately small, GET-only slice of the Cloudflare API. No create/update/delete operations exist in this spec, so an agent calling it cannot mutate the account by construction."
  },
  "servers": [{ "url": "https://api.cloudflare.com/client/v4" }],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "parameters": {
      "accountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Cloudflare account id."
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/accounts/{account_id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "parameters": [{ "$ref": "#/components/parameters/accountId" }],
        "responses": { "200": { "description": "Account details" } }
      }
    },
    "/zones": {
      "get": {
        "operationId": "listZones",
        "summary": "List zones",
        "parameters": [
          { "name": "per_page", "in": "query", "schema": { "type": "integer" } },
          { "name": "name", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Zones" } }
      }
    },
    "/accounts/{account_id}/workers/scripts": {
      "get": {
        "operationId": "listWorkerScripts",
        "summary": "List Worker scripts",
        "parameters": [{ "$ref": "#/components/parameters/accountId" }],
        "responses": { "200": { "description": "Worker scripts" } }
      }
    },
    "/accounts/{account_id}/d1/database": {
      "get": {
        "operationId": "listD1Databases",
        "summary": "List D1 databases",
        "parameters": [{ "$ref": "#/components/parameters/accountId" }],
        "responses": { "200": { "description": "D1 databases" } }
      }
    },
    "/accounts/{account_id}/r2/buckets": {
      "get": {
        "operationId": "listR2Buckets",
        "summary": "List R2 buckets",
        "parameters": [{ "$ref": "#/components/parameters/accountId" }],
        "responses": { "200": { "description": "R2 buckets" } }
      }
    }
  }
}
